nav {
	position: relative;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	height: 90px;
	display: block;
}

.advisor {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.advisor .description {
	display: flex;
	flex: 0 60%;	
	flex-flow: row wrap;
}

.description h1 {
	font-size: 48px;
}

.advisor .preview {
	flex: 0 35%;
}

.advisor .preview img {
	width: 100%;
	border-radius: 4px;
}
