.profile-container {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  justify-content: center;
}

.profile {
  display: flex;
  flex-flow: row wrap;
  flex: 0 22%;
  margin: 10px;
  justify-content: center;
  background: #fbfbfb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
  border-radius: 4px;
  padding: 20px;
}
.profile img {
  margin: 0 auto;
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  transition: box-shadow 200ms ease-in-out;
}
.profile img:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile h1 {
  flex: 0 100%;
  margin-bottom: 3px;
  font-size: 1em;
}
.profile h1, .profile h2, .profile h3 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

.profile h3 {
  font-size: .8em;
}

.social {
  flex: 0 100%;
  text-align: center;
}

.social i {
  font-size: 24px;
  margin: 2px;
  color: #000;
  transition: color 200ms ease-in-out;
}
.social i:hover {
  cursor: pointer;
  color: #2575bb;
}
.social i:active, .social i:focus {
  outline: none;
}
.social i:visited {
  color: #000;
}
