@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,400,600,800,300italic,600italic");

/* General */

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.5;
    background-color: #efefef;
}

.content {
    padding: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2c3e50;
    letter-spacing: .1px;
}
p {
    font-size: 13pt;
    font-weight: 400;
    color: #777777;
    margin-bottom: 30px;
}
p::selection,
span::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
    background-color: #2c3e50;
    color: #fafafa;
}
/**/

a {
    text-decoration: none;
}
.colorful {
    color: #2ecc71;
}
.sliding-middle-out {
    display: inline-block;
    position: relative;
}
.sliding-middle-out:hover {
    cursor: pointer;
}
.sliding-middle-out:after,
.sliding-middle-out:visited {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: #2575bb;
}

/* Cards */

.card {
    border-bottom: 1px solid #f2f2f2;
    background-color: #fff;
    min-width: 50vw;
    width: auto;
    height: auto;
    padding: 50px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
    overflow: hidden;
    margin: 20px auto;
}
.card h1 {
    font-size: 42px;
}
.card h2 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 20px;
}
.circle {
    border-radius: 20em;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    box-shadow: 0px 1px 5px #888888;
}
.circle > img {
    height: auto;
    width: 100%;
    display: inline-block;
}
@media (min-width: 576px) {
    .card {
        text-align: center;
    }
    .circle {
        width: 4em;
        height: 4em;
    }
}
@media (min-width: 768px) {
    .card {
        text-align: center;
    }
    .circle {
        height: 8em;
        width: 8em;
    }
}
@media (min-width: 992px) {
	.card {
		text-align: justify;
	}
    .circle {
        height: 9em;
        width: 9em;
    }
}
@media(min-width: 1200px) {
	.card {
		text-align: justify;
	}
    .circle {
        height: 11em;
        width: 11em;
    }
}
@media(min-width: 1920px) {
	.card {
		text-align: justify;
	}
    .circle {
        height: 13em;
        width: 13em;
    }
}

/* Social */

.icon {
    color: rgb(26, 26, 26);
    transition: color 125ms ease-in;
    padding: .1em;
    margin-bottom: .25em;
}
.icon:hover {
    color: #3498db;
}

/* Custom Animations */

#about p {
    animation: Picture 1000ms ease-in-out 0s;
}
.card {
    animation: Cards 500ms ease-in-out 0s;
}
@keyframes Picture {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
    }
}
@keyframes Cards {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}